.card-container {
  border: 1px solid #2098d1;
  width: 250px;
  height: 100px;
  text-align: center;
  padding-bottom: 20px;
  margin: 20px;
  background: #2098d1;
  color: white;
  -webkit-box-shadow: 14px 13px 58px -1px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 14px 13px 58px -1px rgba(0, 0, 0, 0.59);
  box-shadow: 14px 13px 58px -1px rgba(0, 0, 0, 0.59);
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}
